{% extends 'wash/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<style>
    .account_img{
        width:50px;
        height:50px;
        margin-right:20px;
    }
    .label_img{
        float:right;
        margin-top:10px;
    }
</style>
{% endblock %}

{% block title_center %}
<img class="top-logo" src="{% static 'images/wash/account_title.png' %}" width="100">
{% endblock %}

{% block content %}
    <div class="list-group">
        <div href="#" class="list-group-item">
            {% if profile %}
                <img class="img-circle" src="/static/img/av1.png" style="width: 64px; height: 64px;"/>
                <label>{{ profile.phone }}</label>
            {% else %}
                <img class="account_img" src="/static/images/wash/head.png"/>
                <a href="{% url 'wash_regist' %}">登录</a>&nbsp;/&nbsp;<a href="{% url 'wash_regist' %}">注册</a>
            {% endif %}
       </div>
    </div>
    <div class="list-group">
       <!--<a href="#" class="list-group-item">
          <img class="account_img" src="/static/images/wash/account.png"/>账户信息
          <img class="label_img" src="/static/images/wash/label_right.png" />
       </a>-->
       <a href="{% url 'wash_user_address'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/address.png"/>管理地址
          <img class="label_img" src="/static/images/wash/label_right.png" />
       </a>
       <a href="{% url 'wash_user_order'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/order.png"/>订单信息
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
        <a href="{% url 'wash_user_discount'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/discount.png"/>优惠券
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
        <a href="{% url 'wash_verify_company'%}" class="list-group-item">
          <img class="account_img img-circle" src="/static/images/wash/verify.png"/>绑定公司
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
    </div>

    <div class="list-group">
        <div class="list-group-item">
          <div class="media text-center">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="margin-top:12px;"></span>
                咨询电话:18510912695
          </div>
        </div>
    </div>

    <div class="text-center" style="margin-top:50px;">
        <label style="bold;color:grey">北京兰香丽洁&nbsp;&nbsp;版权所有</label>
    </div>
{% endblock %}

{% block account %}on{% endblock %}