{% extends 'wash/base.html' %}
{% load staticfiles %}
{% load util_tag %}
{% block extra_css %}
<style>
    .account_img{
        width:50px;
        height:50px;
        margin-right:20px;
    }
    .label_img{
        float:right;
        margin-top:10px;
    }
</style>
{% endblock %}

{% block title_center %}
<img class="top-logo" src="{% static 'images/wash/account_title.png' %}" width="100">
{% endblock %}

{% block content %}
    <div class="list-group">
        <div href="#" class="list-group-item">
            {% if profile %}
                <img class="img-circle" src="/static/img/av1.png" style="width: 64px; height: 64px;"/>
                <label>{{ profile.phone }}</label>
                <a style="margin-left:30%" href="{% url 'wash_recharge'%}">
                    <span class="label label-danger">
                       充值
                    </span>
                </a>
            {% else %}
                <img class="account_img" src="/static/images/wash/head.png"/>
                <a href="{% url 'wash_regist' %}">登录/注册</a>
            {% endif %}
       </div>
        <div href="#" class="list-group-item">
            <div class="row">
                <div class="col-xs-6 text-center">
                    余额&nbsp;<label style="color:red">{{ profile.cash|default:'0.0'|money_format }}</label>元&nbsp;&nbsp;&nbsp;
                </div>
                <div class="col-xs-6 text-center">
                    {% if profile.cash > 50000 %}
                    <label style="color:yellow">黄金会员</label>
                    {% elif profile.cash > 10000 %}
                    <label style="color:#999999 ">白银会员</label>
                    {% else %}
                    <label style="color:grey">普通会员</label>
                    {% endif %}
                </div>
            </div>
       </a>
    </div>
    <div class="list-group">
       <!--<a href="#" class="list-group-item">
          <img class="account_img" src="/static/images/wash/account.png"/>账户信息
          <img class="label_img" src="/static/images/wash/label_right.png" />
       </a>-->
       <a href="{% url 'wash_user_address'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/address.png"/>管理地址
          <img class="label_img" src="/static/images/wash/label_right.png" />
       </a>
       <a href="{% url 'wash_user_order'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/order.png"/>订单信息
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
        <a href="{% url 'wash_user_discount'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/discount.png"/>优惠券
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
        <a href="{% url 'wash_verify_company'%}" class="list-group-item">
          <img class="account_img img-circle" src="/static/images/wash/verify.png"/>绑定公司
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
        <a href="{% url 'wash_user_trade'%}" class="list-group-item">
          <img class="account_img" src="/static/images/wash/order.png"/>交易记录
          <img class="label_img" src="/static/images/wash/label_right.png"/>
       </a>
    </div>

    <div class="list-group">
        <div class="list-group-item">
          <div class="media text-center">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="margin-top:12px;"></span>
                咨询电话:135-8182-6688
          </div>
        </div>
    </div>

    <div class="text-center" style="margin-top:50px;">
        <label style="bold;color:grey">北京兰香丽洁&nbsp;&nbsp;版权所有</label>
    </div>

{% endblock %}
