{% extends 'wash/base.html' %}

{% block title_center %}
<img class="top-logo" src="/static/images/wash/address_select.png" width="100">
{% endblock %}

{% block title_left %}
    <a href="{% url 'wash_order' %}"><img class="label_img" src="/static/images/wash/label_left.png" /></a>
{% endblock %}

{% block title_right %}
    <a href="{% url 'wash_user_address' %}?place=select" style="color:black;font-size:15px;">管理</a>
{% endblock %}

{% block content %}
<div class="list-group">
    {% for address in addresses %}
    <a href="{% url 'wash_order'%}?choose={{ address.id }}">
      <div class="list-group-item {% if address.is_default %}disabled{% endif %}">
          <div class="row">
              <div class="col-xs-10">
                  <table>
                        <tr>
                            <td width="80px;">收货人：</td>
                            <td>{{ address.name }}</td>
                            <td class="text-right">{{ address.phone }}</td>
                        </tr>
                        <tr>
                            <td>收货地址：</td>
                            <td colspan="2">
                                {% if address.is_default %}[默认]{% endif %}{{ address.detail }}
                            </td>
                        </tr>
                  </table>
              </div>
              {% if address.is_default %}
              <div class="col-xs-2">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="margin-top:20px;"></span>
              </div>
              {% endif %}
          </div>
      </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block show %}on{% endblock %}

