<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="applicable-device" content="mobile">
    <meta content="telephone=no,email=no" name="format-detection"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>我要洗鞋、洗衣</title>

    <meta content="洗衣，o2o" name="keywords"/>
    <meta content="一站式管家服务"
          name="description"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/wash/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/wash/iconfont.css?v=1.0.0"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/wash/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.css"/>
    {% block extra_css %}
    {% endblock %}

</head>
<body class="page am-with-topbar-fixed-top">

<header class="am-topbar am-topbar-fixed-top am-force-show">
    <div class="row">
        <div class="col-xs-4">
            {% block title_left %}
                <span class="current-city">北京</span>
            {% endblock %}
        </div>
        <div class="col-xs-4">
            {% block title_center %}
            <a href="{% url 'wash_show' %}">
                <img class="top-logo" src="{% static 'images/wash/top_logo.png' %}" width="100">
            </a>
            {% endblock %}
        </div>
        <div class="col-xs-4 text-center">
            {% block title_right %}
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <a href="{% url 'wash_basket' %}">
            {% if total == 0 %}
            <span class="badge" id="order_count" style="z-index:100;display:none;position:absolute;background-color:red;margin-top:5px;margin-left:-30px">0</span>
            {% else %}
            <span class="badge btn-sm" id="order_count" style="z-index:100;position:absolute;background-color:red;margin-top:5px;margin-left:-30px">{{ total }}</span>
            {% endif %}
            </a>
            {% endblock %}
        </div>
    </div>
</header>

<div class="main">
    {% block navbar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <br>
    <br>
    <br>
</div>

{% block bottom %}
<nav class="main-nav am-topbar am-topbar-fixed-bottom">
    <ul class="am-avg-sm-3">
        <li class="{% block index %}{% endblock %}">
            <a href="{% url 'wash_index' %}" class="item">
                <i class="am-icon-home am-icon-sm"></i><br/>
                首页
            </a>
        </li>
        <li class="nav-middle {% block show %}{% endblock %}">
            <a href="{% url 'wash_show' %}" class="item" id="order_submit">
                <i class="am-icon-reorder am-icon-sm">
                </i>
                <br/>
                订单
            </a>
        </li>

        <li class="{% block account %}{% endblock %}">
            <a href="{% url 'wash_account' %}" class="item">
                <i class="am-icon-user am-icon-sm"></i><br>
                我的
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

<script type="text/javascript" src="/static/scripts/wash/jquery2.1.1.min.js"></script>
<script type="text/javascript" src="/static/scripts/wash/amazeui.min.js"></script>
<script type="text/javascript" src="/static/scripts/wash/utils.js"></script>
<script type="text/javascript" src="/static/scripts/wash/tips.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap.min.js"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>