{% extends 'wash/base.html' %}
{% load staticfiles %}

{% block title_left %}
    <a href="{% url 'wash_show' %}"><img class="label_img" src="/static/images/wash/label_left.png" /></a>
{% endblock %}

{% block title_center %}
<a href="{% url 'wash_show' %}">
    <img class="top-logo" src="{% static 'images/wash/basket.png' %}" width="100">
</a>
{% endblock %}

{% block content %}
    {% for wash in wash_arr %}
    <div class="container-fluid" style="border-bottom:solid 1px #CCCCCC;margin-top:10px;">
        <div clss="row">
            <div class="col-xs-2 text-left">
                <a href="#">
                    <img class="order-img" src="{{ wash.photo }}" alt="...">
                </a>
            </div>
            <!--<div class="col-xs-5">
                <h4 class="media-heading text-left">{{ wash.name }}</h4>
                <label class="media-heading">{{ wash.belong }}</label>
                <h4>
                    <label style="color:red">￥</label><label class="media-heading" name="price" value="{{ wash.id }}">{{ wash.new_price }}</label>元({{ wash.measure }})
                </h4>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-default btn-sm" onclick="order_minus({{ wash.id }})">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                <label id="wash_count_{{ wash.id }}">
                    {{ wash.count }}
                </label>
                <button type="button" class="btn btn-default btn-sm" onclick="order_add({{ wash.id }})">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>-->

            <div class="col-xs-10">
                <div clss="row">
                    <div class="col-xs-5 text-left">
                        <h4 class="media-heading">{{ wash.name }}</h4>
                        <label class="media-heading">{{ wash.belong }}</label>
                    </div>
                    <div class="col-xs-7 text-right">
                        <button type="button" class="btn btn-default btn-sm" onclick="order_minus({{ wash.id }})">
                          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <label id="wash_count_{{ wash.id }}">
                            {{ wash.count }}
                        </label>
                        <button type="button" class="btn btn-default btn-sm" onclick="order_add({{ wash.id }})">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div clss="row">
                    <div class="col-xs-12 text-left">
                        <h4>
                            <label style="color:red">￥</label>
                            <label class="media-heading" name="price" value="{{ wash.id }}">{{ wash.new_price }}</label>元({{ wash.measure }})
                            {% if wash.is_for_company %}
                            {% if wash.short_desc %}
                            <span class="label label-danger">
                                {{ wash.short_desc }}
                            </span>
                            {% else %}
                            <span class="label label-success">
                                合作
                            </span>
                            {% endif %}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block bottom %}
<nav class="main-nav am-topbar am-topbar-fixed-bottom" style="background-color:white ">
    <div class="text-center">
        <h4>
            合计:<label style="color:red" id="price_total">0</label>元
            <a href="{% url 'wash_order' %}" class="btn btn-success" style="color:white">提交
            </a>
        </h4>
        </div>
    </div>
</nav>
{% endblock %}

{% block show %}on{% endblock %}

{% block extra_js %}
<script src="/static/scripts/wash/order.js"></script>
<script>
price_sum()
</script>
{% endblock %}