{% extends 'wash/base.html' %}

{% block content %}
   <div class="top-banner">
        <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider="{'directionNav':false}">
            <ul class="am-slides">
                {% for img in imgs %}
                <li>
                    <img src="{{ img.get_photo_url }}"/>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="order-now">
        <!--<a href="{% url 'wash_show' %}">-->
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx88c30f037ed63a21&redirect_uri=http%3a%2f%2fwww.jacsice.cn%2fwechat%2foauth%2fcode%2f&response_type=code&scope=snsapi_base&state=123#wechat_redirect">
            <b>一键下单</b>
        </a>
    </div>
{% endblock %}

{% block index %}on{% endblock %}