{% extends 'wash/base.html' %}
{% load staticfiles %}
{% load util_tag %}
{% block title_center %}
<a href="{% url 'wash_show' %}">
    <img class="top-logo" src="{% static 'images/wash/order_create_title.png' %}" width="100">
</a>
{% endblock %}

{% block title_left %}
    <a href="{% url 'wash_basket' %}"><img class="label_img" src="/static/images/wash/label_left.png" /></a>
{% endblock %}

{% block content %}
      <div class="bs-callout bs-callout-danger">
        <div class="media">
            <div class="media-left">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-top:8px;"></span>
            </div>
            <div class="media-body">
                {% if address %}
                <table class="address">
                    <tr>
                        <td width="80px;">收货人：</td>
                        <td>{{ address.name }}</td>
                        <td class="text-right">{{ address.phone }}</td>
                    </tr>
                    <tr>
                        <td>收货地址：</td>
                        <td colspan="2">
                            {% if address.is_default %}[默认]{% endif %}{{ address.detail }}
                        </td>
                    </tr>
                </table>
                {% else %}
                <div style="margin-top:5px;">
                    <a href="{% url 'wash_user_address_add'%}?place=select" >新建地址</a>
                </div>
                {% endif %}
            </div>
            {% if address %}
            <div class="media-right text-right">
                <a href="{% url 'wash_user_address_select' %}"><img class="label_img" src="/static/images/wash/label_right.png"  style="margin-top:10px;"/></a>
            </div>
            {% endif %}
        </div>
      </div>

    <form action="." method="post" id="order_form">
        {% csrf_token %}
        <input type="hidden" value="{{ address.id }}" name="address_id" id="id_useraddress"/>
        <div class="bs-callout bs-callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="margin-top:16px;"></span>
                </div>
                <div class="media-body">
                    请选择取件时间
                    <input class="form-control" type="date" value="{{ today|date:'Y-m-d'}}" name="service_time" placeholder="服务时间" style="width:155px;"/>
                </div>
                <div class="media-right text-right">
                    <div style="margin-top:26px;">
                        <input type="radio" value="0" checked="checked" name="am_pm"/>上午&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="1" name="am_pm"/>下午
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-callout bs-callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="margin-top:5px;"></span>
                </div>
                <div class="media-body">
                    <span class="label label-danger">注意</span> <label style="color:grey">消费总额小于30元加收8元运费</label>
                </div>
            </div>
        </div>
        <div class="bs-callout bs-callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-plane" aria-hidden="true" style="margin-top:5px;"></span>
                </div>
                <div class="media-body">
                    <input type="radio" name="pay" value="0" checked>&nbsp;在线支付&nbsp;&nbsp;
                    <input type="radio" name="pay" value="1">&nbsp;货到付款
                </div>
            </div>
        </div>
        {% if discount %}
        <div class="bs-callout bs-callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="margin-top:5px; color:red"></span>
                </div>
                <div class="media-body">
                    <label style="color:red">优惠信息:{{ discount.desc }}</label>
                </div>
            </div>
        </div>
        {% endif %}
         {% if my_discounts %}
        <div class="bs-callout bs-callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="margin-top:5px; color:red"></span>
                </div>
                <div class="media-body">
                    <label style="color:red">我的优惠券:</label>
                    <select name="my_discount_id" id="my_discount_select">
                        {% for my in my_discounts %}
                        <option value="{{ my.id }}" {% if my_discount.id == my.id %}selected{% endif %}>{{ my.desc }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        </div>
        {% endif %}

        <!--<div class="bs-callout bs-callout-danger">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-top:5px;"></span>
                </div>
                <div class="media-body">
                    付款方式&nbsp;&nbsp;
                    <input type="radio" checked/> 货到付款
                </div>
            </div>
        </div>-->

         <div class="bs-callout bs-callout-danger">
            <div class="media">
                <textarea class="form-control" rows="3" name="mark" placeholder="请填写注意事项(选填)"></textarea>
            </div>
        </div>
        <div class="bs-callout bs-callout-danger">
            <div class="media text-left">
                <div class="media-left">
                    <span class="glyphicon glyphicon-file" aria-hidden="true" style="margin-top:5px; color:white"></span>
                </div>
                <div class="media-body">
                   <input type="checkbox" checked/><a href="{% url 'wash_aggreement' %}">用户协议</a>
                </div>
            </div>
        </div>
    </form>

    {% for wash in wash_list %}
    <div class="container-fluid" style="border-bottom:solid 1px #CCCCCC;margin-top:20px;">
        <div clss="row well">
            <div class="col-xs-3 text-left">
                <a href="#">
                    <img class="order-img" src="{{ wash.photo }}" alt="...">
                </a>
            </div>
            <div class="col-xs-6">
                <h4 class="media-heading text-left">{{ wash.name }}</h4>
                <label class="media-heading">{{ wash.belong }}</label>
                <h4>
                    <label style="color:red">￥</label>
                    <label class="media-heading" name="price" value="{{ wash.id }}">{{ wash.new_price|money_format }}</label>元({{ wash.measure }})
                    {% if wash.is_for_company %}
                    {% if wash.short_desc %}
                    <span class="label label-danger">
                        {{ wash.short_desc }}
                    </span>
                    {% else %}
                    <span class="label label-success">
                        合作
                    </span>
                    {% endif %}
                    {% endif %}
                </h4>
            </div>
            <div class="col-xs-3 text-right" style="margin-top:20%">
                x{{ wash.count }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="alert alert-danger text-center" role="alert" style="position:fixed;left:35%;top:30%;display:none" id="order_err">
        网络错误, 请重试!
    </div>

{% endblock %}

{% block bottom %}
<nav class="main-nav am-topbar am-topbar-fixed-bottom">
    <div class="text-center">
        <h4>
            合计:<label style="color:red">{{ price_sum }}</label>元
            <button class="btn btn-success" style="color:white" id="order_submit">
                下单<a class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></a>
            </button>
        </h4>
    </div>
</nav>
{% endblock %}

{% block show %}on{% endblock %}

{% block extra_js %}
<script>
    $("#order_submit").click(function(){
        if($("table.address").length == 0){
            $("#order_err").css('display', '');
            $("#order_err").html("请选择地址").show(300).delay(3000).hide(10);
        }else{
            $("#order_form").submit();
        }
    });

    $("#my_discount_select").change(function(){
        location.href = '.?my_discount_id=' + $(this).children('option:selected').val();
    });
</script>
{% endblock %}

