{% extends 'wash/base.html' %}

{% block title_center %}
<img class="top-logo" src="/static/images/wash/address_title.png" width="100">
{% endblock %}

{% block title_left %}
    <a href="{% url 'wash_user_order' %}"><img class="label_img" src="/static/images/wash/label_left.png" /></a>
{% endblock %}

{% block content %}


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>
    wx.config({
        debug: false,
        appId: '{{ appId }}',
        timestamp: {{ timeStamp }},
        nonceStr: '{{ nonceStr }}',
        signature: '{{ signature }}',
        jsApiList: ['chooseWXPay']
    });
    wx.ready(function(){
         wx.chooseWXPay({
            timestamp: {{ timeStamp }},
            nonceStr: '{{ nonceStr }}',
            package: '{{ package }}',
            signType: 'MD5',
            paySign: '{{ paySign }}',
            success: function (res) {
                $.ajax({
                      url: '/wash/pay/update/',
                      type: 'POST',
                      dataType: 'json',
                      data: {'order_id': {{ order_id }} },
                      success: function(Data) {
                          window.location.href = "/wash/pay/success/?oid={{ order_id}}"
                      }
                 });
            },
            cancel: function () {
                window.location.href = "/wash/user/order/#{{ order_id }}"
            }
        });
    });

</script>
{% endblock %}
