{% extends 'wash/base.html' %}

{% block extra_css %}
<style>
    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-control:focus {
        z-index: 2;
    }
    input {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="list-group">
        <div href="#" class="list-group-item text-center">
            <h4><a>登录</a></h4>
       </div>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <input type="hidden" name="open_id" value="{{ open_id }}"/>
        <input type="hidden" name="next" value="{{ next }}"/>
        <div class="row-fluid">
            <div class="col-xs-12">
                <input type="number" placeholder="请输入手机号" name="phone" id="id_phone" class="form-control">
            </div>
        </div>
        <br><br>
        <div class="row-fluid" style="margin-top:10px;">
           <div class="col-xs-7">
              <input class="form-control" name="code" id="code" type="number" placeholder="图片验证码">
           </div>
            <div class="col-xs-5">
                <img  alt="验证码" src="{% url 'verify_code_img' %}" id="valiCode" onClick="changeVcode()" />
           </div>
        </div>
        <br><br>
        <div class="row-fluid" style="margin-top:10px;">
           <div class="col-xs-7">
              <input class="form-control" name="code" id="input_code" type="number" placeholder="手机验证码">
           </div>
            <div class="col-xs-5">
              <button type="button" class="btn btn-info" id="verify_code" style="margin-top:5px;">获取验证码</button>
           </div>
        </div>
        <br><br>
        <div class="row-fluid" style="margin-top:10px;">
           <div class="col-xs-12">
              <input class="form-control" name="short" type="text" placeholder="请输入公司验证码(选填)">
           </div>
        </div>
        <br>
        <div class="row-fluid" style="margin-top:40px;margin-bottom:100px;">
           <div class="col-xs-12">
               <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
           </div>
        </div>
    </form>
    {% if form.phone.errors %}
        {% for error in form.phone.errors %}
    <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
        {% endfor %}
    {% elif form.code.errors %}
        {% for error in form.code.errors %}
    <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
        {% endfor %}
    {% else %}
        {% for error in form.non_field_errors %}
    <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}

    <div class="alert alert-success text-center" role="alert" style="display:none" id="send_succ">
        发送成功!您将收到一条&nbsp;&nbsp;<span class="label label-danger">短信</span>&nbsp;&nbsp;验证码
    </div>
    <div class="alert alert-danger text-center" role="alert" style="display:none" id="send_err">
        网络错误, 请重试!
    </div>
{% endblock %}

{% block index %}on{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/scripts/wash/regist.js"></script>
{% endblock %}