{% extends 'wash/base.html' %}
{% block extra_css %}
    <style>
        .order-img{
            height:90px;
            width:80px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid" style="border-bottom:solid 1px #CCCCCC;margin-top:10px;">
        <div clss="row">
            <div class="col-xs-3 text-left">
                <a href="#">
                    <img class="order-img" src="/static/img/av1.png" alt="...">
                </a>
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading text-left">衬衫</h4>
                <label class="media-heading">商务休闲长短</label>
                <h4>
                    <label style="color:red">￥</label><label class="media-heading">20</label>元
                </h4>
            </div>
            <div class="col-xs-5 text-right">
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                  3
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="border-bottom:solid 1px #CCCCCC;margin-top:10px;">
        <div clss="row">
            <div class="col-xs-3 text-left">
                <a href="#">
                    <img class="order-img" src="/static/img/av2.png" alt="...">
                </a>
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading text-left">衬衫</h4>
                <label class="media-heading">商务休闲长短</label>
                <h4>
                    <label style="color:red">￥</label><label class="media-heading">20</label>元
                </h4>
            </div>
            <div class="col-xs-5 text-right">
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                  3
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="border-bottom:solid 1px #CCCCCC;margin-top:10px;">
        <div clss="row">
            <div class="col-xs-3 text-left">
                <a href="#">
                    <img class="order-img" src="/static/img/av3.png" alt="...">
                </a>
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading text-left">衬衫</h4>
                <label class="media-heading">商务休闲长短</label>
                <h4>
                    <label style="color:red">￥</label><label class="media-heading">20</label>元
                </h4>
            </div>
            <div class="col-xs-5 text-right">
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                  3
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="border-bottom:solid 1px #CCCCCC;margin-top:10px;">
        <div clss="row">
            <div class="col-xs-3 text-left">
                <a href="#">
                    <img class="order-img" src="/static/img/av4.png" alt="...">
                </a>
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading text-left">衬衫</h4>
                <label class="media-heading">商务休闲长短</label>
                <h4>
                    <label style="color:red">￥</label><label class="media-heading">20</label>元
                </h4>
            </div>
            <div class="col-xs-5 text-right">
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                  3
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block show %}on{% endblock %}