{% extends 'wash/base.html' %}
{% load staticfiles %}

{% block extra_css %}
<style>
    body, .main{
        background-color: #DDDDDD ;
    }
</style>
{% endblock %}

{% block title_left %}
    <a href="{% url 'wash_account' %}"><img class="label_img" src="/static/images/wash/label_left.png" /></a>
{% endblock %}

{% block title_center %}
    <a href="{% url 'wash_show' %}">
        <img class="top-logo" src="{% static 'images/wash/order_title.png' %}" width="100">
    </a>
{% endblock %}

{% block content %}
{% if orders %}
    {% for order in orders %}
    <ul class="list-group" style="margin-top:10px;">
      <li class="list-group-item">
          <div class="row">
              <div class="col-xs-6 text-left">
                  {{ order.created|date:'Y年m月d日'}}
              </div>
              <div class="col-xs-6 text-right">
                  {% if order.status_id == 7 %}
                  <label style="color:grey">{{ order.status }}</label>
                  {% else %}
                  <label style="color:orange">{{ order.status }}</label>
                  {% endif %}
              </div>
          </div>
      </li>
      <li class="list-group-item">
          {% for wash in order.detail %}
            <div class="container-fluid" style="margin-top:10px;border-bottom:1px solid #CCCCCC">
                <div clss="row">
                    <div class="col-xs-3 text-left">
                        <a href="#">
                            <img class="order-img" src="{{ wash.photo }}" alt="...">
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="media-heading text-left">{{ wash.name }}</h4>
                        <label class="media-heading">{{ wash.belong }}</label>
                        <h4>
                            <label style="color:red">￥</label><label class="media-heading" name="price" value="{{ wash.id }}">{{ wash.price }}</label>元({{ wash.measure }})
                        </h4>
                    </div>
                    <div class="col-xs-3 text-right" style="margin-top:20%">
                        x{{ wash.count }}
                    </div>
                </div>
            </div>
          {% endfor %}
          <div class="text-right" style="margin-top:10px;">
              共{{ order.count }}件 合计:&nbsp;￥<label style="bold">{{ order.money }}</label>元(含运费￥10.00)
          </div>
      </li>
      <li class="list-group-item text-right">
          {% if order.status_id == 0 %}
          <a href="{% url 'wash_wechat_pay' order.id %}" class="btn btn-info">立即付款</a>
          {% elif order.status_id == 1 %}
          <a href="{% url 'wash_user_order_cancel' order.id %}" class="btn btn-default">取消</a>
          {% endif %}
          <a href="{% url 'wash_user_order_detail' order.id %}" class="btn btn-success">交易记录</a>
      </li>
    </ul>
    {% endfor %}
{% else %}
<center style="margin-top:100px;" ><a class='btn btn-success' href="{% url 'wash_show'%}">无订单~去下单</a></center>
{% endif %}
{% endblock %}

{% block account %}on{% endblock %}
