{% extends 'wash/base.html' %}

{% block title_center %}
<img class="top-logo" src="/static/images/wash/address_title.png" width="100">
{% endblock %}

{% block title_left %}
    <a href="{% url 'wash_account' %}"><img class="label_img" src="/static/images/wash/label_left.png" /></a>
{% endblock %}

{% block content %}
{% if discounts %}
<div class="list-group">
    {% for discount in discounts %}
      <div class="list-group-item {% if not discount.is_valid %}disabled{% endif %}" style="margin-top:10px;border:#FFCC00 1px solid">
          <div class="row">
              <div class="col-xs-6 text">
                  <span class="label label-danger">优惠范围</span>&nbsp;&nbsp;
                  {{ discount.title }}
              </div>
              <div class="col-xs-6">
                  <span class="label label-danger">优惠力度</span>&nbsp;&nbsp;
                  {{ discount.desc }}
              </div>
          </div>
          <div class="row" style="margin-top:10px;">
              <div class="col-xs-12">
                  <span class="label label-info">截止日期</span>&nbsp;&nbsp;
                  {{ discount.end|date:'Y-m-d H:i:s' }}
              </div>
          </div>
      </div>
    {% endfor %}
</div>
{% else %}
<div style="text-center" ></div>
{% endif %}

{% endblock %}



