/* 导入标签页举例样式*/
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
    background-color: white;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

/* 全部页面默认背景图片 */
body {
  overflow-x: hidden;
  background: url('/static/images/bg.jpg');
}