<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="baidu-site-verification" content="QEiaJdc8fD" />
{% load staticfiles %}
{% block title %}
<title>GATHER</title>
{% endblock %}
<link href="{% static "styles/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "styles/regist.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "styles/bookmark.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "styles/add.css" %}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
{% block extra_css %}
<!--其他页面特有的CSS-->
{% endblock %}
</head>
<body>
{% block header %} 
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#428bca">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><label style="color:white">GATHER</label></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if request.user.is_authenticated %}
            <div class="btn-group navbar-form navbar-right">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                {{ request.user.username }}
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'account' %}">我的账户</a></li>
                <li><a href="{% url 'bookmark' %}">我的收藏夹</a></li>
                <li><a href="{% url 'add_share' %}">新增分享</a></li>
                <li><a href="{% url 'import_bookmark' %}">导入书签</a></li>
                <li><a href="{% url 'head_pic_big' %}">上传头像</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">退出</a></li>
              </ul>
            </div>
          {% else %}
          <form action="{% url 'login' %}?next={{ request.path }}" method="post" class="navbar-form navbar-right" role="form">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="邮箱地址" class="form-control" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="密码" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-info">登录</button>
            <a href="{%url 'regist' %}" class="btn btn-danger">注册</a>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}-message" role="alert" style="float:left">{{ message }}</div>
  {% endfor %}
  {% endif %}

{% endblock %} 

{% block container %}
{% endblock %} 

{% block foot %} 
  <footer class="footer">
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <li>&copy; Company 2015.jacsice.love shan</li>
      </ul>
    </div>
    {% for error in form.non_field_errors %} 
    {{ error }}
    {% endfor %}

    {% for error in form.username.errors %}
    {{ error }}
    {% endfor %}

    {% for error in form.password.errors %}
    {{ error }}
    {% endfor %}
  </footer>
{% endblock %} 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?64535fc146e02dd3796c8f3ba3c67f6b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script src="{% static "scripts/jquery.min.js" %}"></script> 
<script src="{% static "scripts/bootstrap.min.js" %}"></script> 
{% block extra_js %}
{%　endblock %}

</body>
</html>
