{% extends 'base.html'%}

{% block title %}
<title>Gather-聚</title>
{% endblock %}
{% block extra_css %}
<style type="text/css">
p{
  font-size: 19px;
  margin: 2px;
  text-align: right;
}
</style>
{% endblock %}

{% block container %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-10">
          {% for img in imgs %}
          <a href="{{ img.link_url }}"><img style="width:960px;height:800px;" src="{{ img.index_img.url }}"/></a>
          {% endfor %}
        </div>
        <div class="col-sm-offset-10" >
          <br>
          <br>
          {% for p in texts %}
           {{ p.content|safe }}
          {% endfor %}
        </div>
      </div>
</div>
{% endblock %}