{% extends 'account/base.html'%}
{% load staticfiles %}
{% block title %}<title>Gather-个人主页</title>{% endblock %}
{% block article_li %}class="active"{% endblock %}

{% block extra_css%}
<link href="{% static "styles/my_article.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<div class="no_nav account">

{% for share in shares %}
<div class="wrap">
  <span class="horiz-flag noise"> <h1><a class="title" href="{% url 'detail_share' share.id %}">{{ share.title }}</a></h1></span>
   <div style="border-top:1px solid #eee;margin-top:40px;">
         {{ share.content|slice:'100'|safe }}
   </div> 
</div>
{% endfor %}
    
</div>
{% endblock %}