{% extends 'account/base.html'%}
{% load staticfiles %}
{% block title %}<title>Gather-个人主页</title>{% endblock %}
{% block upload_li %}class="active"{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "upload/css/jquery.Jcrop.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "upload/css/jcrop.add.css" %}" type="text/css" />
{% endblock %}

{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="avatar-big" style="background-color:white">
              <img src="/media/{{ profile.big_photo }}" id="target" alt="[Jcrop Example]"/>
            <div id="preview-pane">
              <div class="preview-container">
                <img src="/media/{{ profile.big_photo }}" class="jcrop-preview" alt="Preview" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <form action='{% url 'head_pic_big'%}' method="post" id="upload_form" enctype="multipart/form-data" style="margin-top:500px;">
            <input type="file" name="big_photo" value="" id="big"/>
            <input type="hidden" name="crop" id="crop" value=""/>
            <button class="btn btn-primary" type="submit" id="upload">上传</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static "upload/js/jquery.Jcrop.js" %}"></script>
<script src="{% static "upload/js/jcrop.add.js" %}"></script>
{% endblock %}
