{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}
<title>Gather-{{ share.title }}</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/share.css' %}">
<link href="{% static "styles/index.css" %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block container %}
    <div class="container" style="background-color:white">

    <div class="blog-header">
        <h1 class="blog-title">
          <span class="label label-success">Love</span>
          <span class="label label-primary">Life</span>
          <span class="label label-warning">,</span>
          <span class="label label-default">Love</span>
          <span class="label label-danger">Share</span>
        </h1>
        <p class="lead blog-description" style="margin-top:20px;">Don't waste life in doubts and fears.</p>
    </div>
    
      <div class="row">
        <div class="col-sm-8 blog-main">
          <ol class="breadcrumb">
            <li><a href="{% url 'share' %}">全部分享</a></li>
            <li class="active">{{ share.article_short }}</li>
          </ol>
          <div class="row">
            <div class="col-md-10" >
              <div class="blog-post-detail">
                <h2 class="blog-post-title">{{ share.title }}</h2>
                <p class="blog-post-meta">{{ share.created|date:'Y-m-d H:i:s' }} by <a href="#">{{ share.user.username }}</a></p>
                {% if share.photo %}
                <img src="/media/{{ share.photo }}" style="width:{{ share.resize_photo.0 }}px;height:{{ share.resize_photo.1 }}px;"/>
                {% endif %}
                <p>{{ share.content|safe }}</p>
              </div><!-- /.blog-post -->
            </div>
          </div>

          <div id="comment-body" class="modal-body-comment note-scrollable">
            <div class="row note_comment">
              <div class="col-sm-note-1">
                <img class="img-rounded" style="width:40px;height:40px" alt="..." src="/media/head/2015/04/21/1429624008937757133.png">
              </div>
              <div class="col-sm-note-11">
              <div class="note-info">
                <label class="pubtime">
                  2015-08-06 19:43:18  
                  <a class="commenter" href="javascript:;">413761980@qq.com</a>
                </label>
                <label class="text-right reply">
                  <a onclick="answer_comment(this)" value="11" name="52" href="javascript:;">回复</a>
                </label>
              </div>
              <p class="note-comment">12</p>
              <div style="border-top:1px solid #eee;margin-bottom:5px;">
                <div class="row top5">
                  <div class="col-sm-note-1">
                    <img class="img-rounded" style="width:40px;height:40px" alt="..." src="/media/head/2015/04/21/1429624008937757133.png">
                  </div>
                  <div class="col-sm-note-11">
                    <label class="reply">
                      <a class="commenter" href="javascript:;">413761980@qq.com</a>
                       回复 
                      <a href="javascript:;"></a>
                      :
                    </label>
                     56
                    <br>
                      <label class="reply-pubtime">2015-08-06 19:43:24  </label>
                      <label class="text-right reply">
                      <a onclick="answer_comment(this)" value="11" name="52" href="javascript:;"> 回复</a>
                    </label>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </div>

        <div class="modal-footer-note">
          <div class="form-inline">
            <a href="javascript:;">
            <span id="heart" class="glyphicon glyphicon-heart heart-left" name="note" value="11" style="padding: 5px; margin-right: 280px;"> 0</span>
            </a>
            <input id="comment_content" class="form-control input-md" type="text" name="comment">
            <button id="say" class="btn btn-primary" value="note" name="comment:11" type="button">发表</button>
          </div>
        </div>

          <nav>
            <ul class="pager">
              {% if pre %}
              <li class="previous"><a href="{% url 'detail_share' pre.0.id %}">&larr; 上一篇{{ pre.title }}</a></li>
              {% else %}
              <li class="previous disabled"><a href="#">&larr; 没有啦</a></li>
              {% endif %}
              {% if next %}
              <li class="next"><a href="{% url 'detail_share' next.0.id %}">下一篇 &rarr;{{ next.title }}</a></li>
              {% else %}
              <li class="next disabled"><a href="#">没有啦 &rarr;</a></li>
              {% endif %}
            </ul>
          </nav>


          <div class="text-right" style="display: none">
            {% if share.is_read %}
            <button class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>再次阅读
            </button>
            {% else %}
            <button class="btn btn-sm">
              <span class="glyphicon  glyphicon-remove" aria-hidden="true"></span>不再看
            </button>
            {% endif %}
          </div>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>HOPE</h4>
            <p>希望能留住更多的美好与回忆,希望能与更多的人分享悲伤与快乐,希望这个世界会更好。</p>
            <p class="text-right">jacsice 2015-03-30</p>
          </div>
          <div class="sidebar-module">
            <h4>浏览最多</h4>
            <ol class="list-unstyled">
              {% for max in clickes_maxs %}
              <li><a href="{% url 'detail_share' max.id %}">{{ max.article_short }}&nbsp;&nbsp;&nbsp;{{ max.read_sum }}次</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}

{% block extra_js %}
{% endblock %}
