{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}
<title>Gather-分享</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/share.css' %}">
{% endblock %}

{% block container %}
    <div class="container" style="background-color:white">

    <div class="blog-header">
        <h1 class="blog-title">
          <span class="label label-success">Love</span>
          <span class="label label-primary">Life</span>
          <span class="label label-warning">,</span>
          <span class="label label-default">Love</span>
          <span class="label label-danger">Share</span>
        </h1>
        <p class="lead blog-description" style="margin-top:20px;">Don't waste life in doubts and fears.</p>
    </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="row">
          {% for share in shares %}
            <div class="col-md-10" >
              <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'detail_share' share.id %}">{{ share.short }}</a></h2>
                <p class="blog-post-meta">{{ share.created|date:'Y-m-d H:i:s' }} by <a href="#">{{ share.user.username }}</a></p>
                {% if share.can_show_desc %}
                <p>{{ share.content|slice:'200'|safe }}</p>
                {% endif %}
              </div><!-- /.blog-post -->
            </div>
            <div class="col-md-2">
              {% if share.is_read %}
              <button class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>再次阅读
              </button>
              {% else %}
              <!--<button class="btn btn-sm">
                <span class="glyphicon  glyphicon-remove" aria-hidden="true"></span>不再看
              </button>-->
              {% endif %}
            </div>
          {% endfor %}
          </div>
          {% if shares.paginator.num_pages > 1 %}
          <nav>
            <ul class="pagination">
              {% if shares.has_previous %}
              <li><a href="?page={{ shares.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              {% endif %}

              {% for num in page_numbers %}
                {% if num ==  shares.number %}
                  <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                  <li><a href="?page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a></li>
                {% endif %}
              {% endfor %}

              {% if shares.has_next %}
              <li><a href="?page={{ shares.next_page_number }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>HOPE</h4>
            <p>希望能留住更多的美好与回忆,希望能与更多的人分享悲伤与快乐,希望这个世界会更好。</p>
            <p class="text-right">jacsice 2015-03-30</p>
          </div>
          <div class="sidebar-module">
            <h4>浏览最多</h4>
            <ol class="list-unstyled">
              {% for max in clickes_maxs %}
              <li><a href="{% url 'detail_share' max.id %}">{{ max.short }}&nbsp;&nbsp;&nbsp;{{ max.read_sum }}次</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}

{% block extra_js %}
{% endblock %}
