{% extends 'wash/manage/base.html' %}

{% block order_menu %}style="display:block"{% endblock %}
{% block nav_bar %}
<ul class="breadcrumb">
    <li>
        <i class="icon-cog"></i>
        <a href="#">订单概览</a>
    </li>
    <li class="active">列表</li>
</ul><!-- .breadcrumb -->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive" style="margin-top:10px;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">序号</th>
                    <th>用户手机号</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>所属</th>
                    <th>订单状态</th>
                    <th>
                        <i class="icon-time bigger-110"></i>
                        创建日期
                    </th>
                    <th class="hidden-480">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in details %}
                <tr>
                    <td>{{ detail.id }}</td>
                    <td>{{ detail.order.user.phone }}</td>
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.price }}</td>
                    <td>{{ detail.count }}</td>
                    <td>{{ detail.measure }}</td>
                    <td>{{ detail.belong }}</td>
                    <td>{{ detail.order.get_status_display }}</td>
                    <td>{{ detail.created|date:'Y-m-d H:i:s' }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if details %}
            <nav class="margin-right">
                <ul class="pagination">
                    {% if details.has_previous %}
                    <li>
                        <a href="?page={{ details.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in page_numbers %}
                    {% if num ==  details.number %}
                    <li class="active"><a href="#">{{ num }}</a></li>
                    {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if details.has_next %}
                    <li>
                        <a href="?page={{ details.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
