{% extends 'account/base.html'%}
{% load staticfiles %}
{% block title %}<title>Gather-个人书签</title>{% endblock %}
{% block bookmark_li %}class="active"{% endblock %}
{% block extra_css%}
<link href="{% static "waterfall/css/main.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "waterfall/css/style.css" %}" rel="stylesheet" type="text/css">
  <style>
    #tiles li.inactive {
      visibility: visible;
      opacity: .2;
      filter: alpha(opacity=20); /* IE 7 and Earlier */
      /* Next 2 lines IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    }
  </style>
{% endblock %}

{% block main %}
<div id="container">
    <ol id="filters">
      <li data-filter="git">git</li>
      <li data-filter="python">python</li>
      <li data-filter="django">django</li>
      <li data-filter="mysql">mysql</li>
      <li data-filter="jquery">jquery</li>
    </ol>
    <br/>

    <div id="main" role="main">
      <ul id="tiles">
        {% if bookmarks %}
        {% for bookmark in bookmarks %}
        <li data-filter-class='["jquery"]'>
          <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
          <div style="border-top:1px solid #eee;margin: 10px 0 15px;">
            <div style="padding:1px;">
              <span class="glyphicon glyphicon-heart" style="color:red;padding:5px;"></span>5
              <span class="label label-primary" style="margin-right:20px;margin-left:25px;">评论(3)</span> 
                <div class="btn-group">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                    移动 <span class="caret"></span>
                  </button>
                  <dl class="dropdown-menu" role="menu">
                    <dd><a href="#">python</a></dd>
                    <dd><a href="#">js</a></dd>
                    <dd><a href="#">css</a></dd>
                    <dd class="divider"></dd>
                    <dd><a href="#">删除</a></dd>
                  </dl>
                </div>
            </div>
          </div>   
        </li>
        {% endfor %}
        {% else %}
        暂无书签，请导入<a href="{% url 'import_bookmark' %}">点击</a>
        {% endif %}
      </ul>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
<script src="{% static "waterfall/js/jquery.imagesloaded.js" %}"></script> 
<script src="{% static "waterfall/js/jquery.wookmark.min.js" %}"></script> 
<script src="{% static "waterfall/js/bookmark.js" %}"></script> 
{% endblock %}