{% extends 'account/base.html'%}
{% load staticfiles %}
{% block title %}<title>Gather-个人书签</title>{% endblock %}
{% block bookmark_li %}class="active"{% endblock %}
{% block extra_css%}
<link href="{% static "waterfall/css/main.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "styles/bookmark.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "waterfall/css/style.css" %}" rel="stylesheet" type="text/css">
  <style>
    #tiles li.inactive {
      visibility: visible;
      opacity: .2;
      filter: alpha(opacity=20); /* IE 7 and Earlier */
      /* Next 2 lines IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    }
  </style>
{% endblock %}

{% block main %}
<div id="container">
    <ol id="filters">
      <li data-filter="git">git</li>
      <li data-filter="python">python</li>
      <li data-filter="django">django</li>
      <li data-filter="mysql">mysql</li>
      <li data-filter="jquery">jquery</li>
    </ol>
    <br/>

    <div id="main" role="main">

      <ul id="tiles">
        {% if bookmarks %}
        {% for bookmark in bookmarks %}
        <li data-filter-class='["git", "python"]'>
          <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
          <div>
          <p>
            <span class="glyphicon glyphicon-heart" style="color:red;margin-right:3px;"></span>5
            <span class="label label-primary" style="margin-left:63px;">评论(3)</span> 
          </p> 
          </div>   
        </li>
        {% endfor %}
        {% else %}
        暂无书签，请导入<a href="{% url 'import_bookmark' %}">点击</a>
        {% endif %}
      </ul>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
<script src="{% static "waterfall/js/jquery.imagesloaded.js" %}"></script> 
<script src="{% static "waterfall/js/jquery.wookmark.min.js" %}"></script> 
<script src="{% static "waterfall/js/bookmark.js" %}"></script> 
{% endblock %}