{% extends 'account/base.html'%}
{% load staticfiles %}
{% block title %}<title>Gather-导入书签</title>{% endblock %}
{% block import_li %}class="active"{% endblock %}

{% block extra_css%}
<link href="{% static "styles/bookmark.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<div class="no_nav account">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="bookmark"/>
        <input type="submit" value="上传"/>
    </form> 
</div>
{% endblock %}